
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: space-between;
    /* margin-left: 60px;
    margin-top: 120px; */
    margin: 120px 60px 0px 60px;
    align-items: top;
    min-height: 100vh;
    background: #f8f8f8;
  }
  
  .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  
  .card i {
    position: absolute;
    top: 40px;
    left: -15px;
    width: 280px;
    height: 50px;
    background: #af43f1;
    border-radius: 30px;
    border-bottom-left-radius: 0;
  }
  
  .card i::before {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 30px;
    background: rgba(147, 12, 173, 0.836);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
  
  }
  
  .card i::after {
      content: '';
      position: absolute;
      top: 50px;
      width: 15px;
      height: 15px;
      background: #af43f1;
      /* border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; */
    
    }
  
    .card p {
      font-size: 40px;
      position: absolute;
      top: 40px;
      left: 30px;
      color: rgb(0, 255, 255);
      z-index: 2;
    }
  
    .card image{
      position: relative;
    
    }


header {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    /* padding: 10px 50px; */
    /* border: 1px solid #f7f7f7; */
    border-radius: 10px;
    /* box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70,70,70,0.15); */
    box-sizing: border-box;
}
.logo{
    color:var(--font-color);
    background-color: var(--seventh-background);
    position: absolute;
    top: 15px;
    height: 40px;
    line-height: 30px;
    font-size: 24px;
    float: left;
    cursor: pointer;
    border: 1px solid var(--third-color-border);
    border-radius: 10px;
    box-shadow: 3px 3px 6px var(--forth-box-shadow-one), -3px -3px 6px var(--fifth-box-shadow-two);
    padding: 5px 15px;
    transition: all 0.8s;
}
.logo:hover{
    /* color: #fff; */
    /* background: rgb(212, 143, 16); */
    color:var(--logo-color);
    box-shadow:inset 3px 3px 6px var(--eighth-hover-a-first), inset -3px -3px 6px var(--ninth-hover-a-second);
}
nav{
 float: right;
}
/* ul{
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    overflow: hidden;

}
li{
    list-style: none;
} */
 a{
    height: 50px;
    background-color: var(--seventh-background);
    line-height: 50px;
    padding: 5px 20px;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    color: var(--sixth-a-color);
    margin-right: 15px;
    border: 1px solid var(--third-color-border);
    border-radius: 10px;
    transition: all 0.8s;
    box-shadow: 3px 3px 6px var(--forth-box-shadow-one), -3px -3px 6px var(--fifth-box-shadow-two);
}
 a:hover {
    color: var(--tenth-hover-a-logo-color);
    box-shadow:inset 3px 3px 6px var(--eighth-hover-a-first), inset -3px -3px 6px var(--ninth-hover-a-second);
}
 .active{
    /* background: #23abff; */
    color:var(--secondary-color);
}
.menu-toggle{
    float: right;
    line-height: 50px;
    font-size: 24px;
    padding: 0 24px;
    cursor: pointer;
    border: 1px solid var(--third-color-border);
    border-radius: 10px;
    box-shadow: 3px 3px 6px var(--forth-box-shadow-one), -3px -3px 6px var(--fifth-box-shadow-two);
    display: none;
}
.menu-toggle:hover{
    box-shadow:inset 3px 3px 6px var(--eighth-hover-a-first), inset -3px -3px 6px var(--ninth-hover-a-second);
}
.master{
    position: relative;
    box-sizing: border-box;
}

.material{
    position: absolute;
    top: 200px;
    left: 50px;
    padding-top: 0;
    box-shadow:inset 3px 3px 6px var(--forth-box-shadow-one), inset -3px -3px 6px var(--fifth-box-shadow-two);
    padding-right: 20px;
    padding-left: 0;
}   
.material pre{
    font-size: 15px;
}
.material h2{
padding-left: 50px;
margin: 0;
}
.youtubeEmbed{
    position: absolute;
    left: 450px;
}

#moon{
    width: 20px;
    cursor: pointer;
}

h2,p,pre {
    color: var(--font-color);
}

:root{
    --primary-color: #eee;
    --secondary-color: #23abff;
    --third-color-border:#f7f7f7;
    --forth-box-shadow-one:#b8b9be; 
    --fifth-box-shadow-two:#fff;
    --sixth-a-color: #000000;
    --seventh-background:#fff;
    --eighth-hover-a-first:#b8b9be;
    --ninth-hover-a-second:#fff;
    --tenth-hover-a-logo-color:#000000;
    --font-color:#000000;
    --logo-color:#23abff;

}
.dark-theme{
    --primary-color: rgb(53, 53, 53);
    --secondary-color: #ffffff;
    --third-color-border:#000000;
    --forth-box-shadow-one:#000000; 
    --fifth-box-shadow-two:rgb(0, 0, 0);
    --sixth-a-color: #ffffff;
    --seventh-background:rgb(63, 63, 63);
    --eighth-hover-a-first:#000000;
    --ninth-hover-a-second:rgb(0, 0, 0);
    --tenth-hover-a-logo-color:#000000;
    --font-color:#ffffff;
    --logo-color:#000000;
}

@media (max-width:991px){
    header{
        padding: 5px 20px;
    }
    .menu-toggle{
        display: block;
    }
    nav{
        position: absolute;
        top: 60px;
        width: 100%;
        left: 0;
        height: calc(100vh - 50px);
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }
    .active{
        opacity: 1;
        visibility: visible;
    }
    /* ul{
        display: block;
        width: 100%;
        text-align: center;
        margin: 30px auto;
    }
    li{
        padding: 5px 0;
    } */
    a{
        width: 80%;
        margin: 5px auto;
        border: 1px solid #f7f7f7;
        border-radius: 10px;
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    }
}
